{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create new{% endtrans %} Question{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %} Question</h1>

    {{ include('question/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('question_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
