{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-success">{{ button_label|default('Update'|trans) }} <i class="fas fa-wrench"></i></button>
    {% endif %}
{{ form_end(form) }}
