{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create new{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %}</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('category_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
